/* ================================= 
  Base Element Styles
==================================== */

* {
   box-sizing: border-box; 
}

body {
   font-family: 'Varela Round', sans-serif;
   line-height: 1.6;
   color: #3a3a3a;
   text-align: center;
   background:#dddddd;
}

li {
   list-style: none;
}

p {
   font-size: 1em;  
}

h2,
h3,
h4,
a,
p{
   color: #124678;
}

h2,
h3,
h4,
h5 {
   margin: 0 auto;
}

a {
   text-decoration: none;
}

img {
   max-width:100%; 
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */


.main-header {
   background:  #9dcbf6;   
   padding-top: 20px;
   padding-bottom: 10px;
}

.main-nav {
   list-style-type: none;
   text-transform: uppercase;
}
  

.main-nav li {
   padding: 10px;  
}

.main-nav a {
   color: #ffab67;
   padding: 8px 20px;
}

.main-nav a.selected {
   color: #fb7507;
}

.main-nav a:hover {
   color: #124678;
}


/* ---- Layout Containers ---- */


.container-one,
.container-two,
.proj {
   padding-left: 1em;
   padding-right: 1em;
}

.container-one ul,
.container-two ul,
.projects {
   padding: 0
}

.banner {
   padding-top: 60px;
   padding-bottom: 40px;
   font-size: 1.5em
}

.col p {
   margin-bottom: 50px;
}

.secondary,
.general {
   padding-top: 60px;
}

.proj img {
   border: 20px solid rgba(18,70,120, .70);
   box-shadow: 0 0 8px rgba(9,58,88, .60);
   background-color: #fff;
   padding: 20px
}

.proj h2{
   padding-top: 15px;
   font-size: 1.3em; 
   margin: 0 auto;
   max-width: 90%;
}

.proj p {
   margin: 0 auto;
   max-width: 90%;
   padding-top: 10px;
   padding-bottom: 50px
   
}

/* ---- Page Elements ---- */

figure img {
   box-shadow: 0 0 15px rgba(0, 0, 0, .4);
   width: 225px;
}

.referral {
   padding-bottom: 40px
}

.contact {
   max-width: 360px;
   margin: 0 auto;
   padding-bottom: 30px;
   padding-left: 1em;
   padding-right: 1em;
}

.contact li {
   margin: 20px;
   border-radius: 5px;
   box-shadow: inset 0 0 4px rgba(0, 0, 0, .4);
   background-color: #fff; 
   text-transform: uppercase;
   font-size: 1.3em;
   padding: 10px;
}

.contact a {
   padding: 10px 20px 
}

a[href$="gmail.com"] {
   background-image: url('../img/svg/email-sketch.svg');
   background-repeat: no-repeat;
   background-size: 24px;
   padding: 0 0 0 40px;
}

a[href$="7670b9a2"] {
   background-image: url('../img/svg/linkedin-sketch.svg');
   background-repeat: no-repeat;
   background-size: 24px;
   padding: 0 0 0 40px;
}

a[href$="com/michaelgarza3"] {
   background-image: url('../img/svg/treehouse-sketch.svg');
   background-repeat: no-repeat;
   background-size: 24px;
   padding: 0 0 0 40px;
}


/*----- Footer -----*/

.main-footer {
   background: #ffab67;
   padding-bottom: 40px;
   padding-top: 40px;
   text-align: center; 
   margin-top: 80px
}

.main-footer li {
   list-style-type: none;
   display: inline-block;
}

.main-footer ul {
   margin: 0 auto;
   padding: 0;
}

.main-footer img {
   width: 40px;
   padding: 0;
}

.icons {
   font-size: .55em;
   max-width: 230px;
   margin: 0 auto;
}

.copyright p{
   color: #124678;
   font-style: italic; 
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 10px;
}

.top {
   color: #9dcbf6;
   font-size: .8em;
   padding: 5px;
}

.top:hover {
   color: #124678;
}


/* ================================= 
  Media Queries
==================================== */


@media (min-width: 600px) {

  
   .main-header {
      padding-bottom: 20px;
      padding-left: 1em;
   }
   
   .name {
      float: left;
      text-align: left;
      font-size: 1.3em;
      margin-top: 10px;
   }
   
   .main-nav {
      float: right;
      margin: 0;
      text-align: right;
   }

   .main-nav li {
      padding: 0;
      margin: 10px;
   } 
   
   .main-nav a {
      padding: 8px 0 8px 10px;
   }
 
   .col {
      text-align: left;   
   }
   
   .proj {
      float: left;
      width: 50%; 
      text-align: left;
   }
   
   .referral,
   .contact {
      text-align: center;
   }
   
   .secondary,
   .primary,
   .tertiary,
   .general {
      max-width: 650px;
      margin: 0 auto;
      padding-left: 4em;
      padding-right: 4em;
   }   
   
   
/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
   
}

@media (min-width: 850px) {
   
   
   body {
      padding-top: 90px;
      
   }

   .main-header {
      position: fixed;
      box-shadow: 0 1px 15px rgba(0, 0, 0, .4);
      width: 100%;
      top: 0;
      z-index: 1000;
      height: 90px;
      padding-top: 5px;
   }
   
   .name {
      margin-top: 0;
   }
   
   .main-nav li {
      display: inline-block;
      margin-top: 20px;
      font-size: 1.4em;
   } 
   
   .container-one,
   .container-two {
      padding-left: 1em;
      padding-right: 1em;
   }
   
   .proj {
      padding-left: 15px;
      padding-right: 15px;
   }
   
   .secondary,
   .referral {
      float: left;
      width: 48%;
   }
   
   .primary,
   .contact {
      float: right;
      width: 48%;
   }
   
   .referral {
      padding-left: 3em;
      margin-left: 30px;
   }
   
   .contact {
      padding-right: 3em;
      margin-right: 30px
   }
   
   .secondary {
      padding-right: 1em
   }
   
   .primary {
      padding-top: 60px;
      padding-left: 1em
   }
   
   .tertiary {
      clear: both;
   } 
  
}

@media (min-width: 1100px) {
   
   .container-one,
   .container-two {
      max-width: 1100px;
      margin: 0 auto;
	}
   
   .proj {
      padding-left: 10px;
      padding-right: 10px;
   }
   
   .secondary {  
      float: left;
      width: 32%;
   }
   
   .primary {
      float: left;
      width: 26%;
      padding-right: 1em
   }
    
   .tertiary {
      width: 42%;
      clear: none;
      float: right; 
      padding-left: 2em;
   }
   
   .general {
     float: left;
     width: 28%;
      padding-right: 1em;
   }

   .referral {
      width: 28%;
      padding-bottom: 50px;
      padding-left: 1em;
   } 
   
   .contact {
      float: right;
      width: 34%;
      padding-bottom: 50px;
   }
   
   .tertiary,
   .referral,
   .contact{
      padding-top: 60px;
   }
   
   
}
   
 
/* =================================
flatcons social icons author credits: 
   <div>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
==================================== */






