/* ================================= 
  Base Element Styles
==================================== */

* {
   box-sizing: border-box;
     
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
   padding-top: 43px;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

.name,
h2,
h3,
a {
	color:#093a58;
}

h2,
h3,
h4 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
   margin: 0 auto;
   line-height: 0;
   position: relative;
}

.feat-img {
   border: 4px solid #175c82;
}

figcaption {
   font-size: .9em;
   line-height: 1.5;
   color: #fff;
   padding: 1em;	
   background: rgba(19,43,102, .65);
   position: absolute;
   bottom: 0;
   width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1001;
   text-align: center;
   height: 42px;
   background: #093a58;
   box-shadow:0 3.5px 6px #000000;
}


/* ---- Layout Containers ---- */

.banner,
.main-footer {
   text-align: center;
}

.banner {
   color: #fff;
   background: url(../img/png/harrys-exterior-1.png) center center no-repeat;
   background-size: cover;
   padding: 4em 0;
   margin-bottom: 40px;
   height: 220px;
   position: relative;
}

.banner-caption {
   display: inline-block;
   background: rgba(19,43,102, .55);
   height: 220px;
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
}

.container-two {
   display: block;
}

.col {
   padding-right: 1em;
   padding-left: 1em;
}

.main-footer {
   background: #d9e4ea;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 30px;
   position: absolute;
   width: 100%;
   
}

/* ---- Page Elements ---- */



.headline {
   font-size: 1.6em;
   margin-top: 50px; 
   margin-bottom: 0px
}

.banner-caption span {
   display: block;
   width: 250px;
   margin: 0 auto;
}

.icon-location {
  width: 35px;
  position: absolute;
  top: -15px;
  right: -15px;
}

.main-footer li {
   display: inline-block;
   padding-left: 2px;
   padding-right: 2px;  
}

.main-footer img {
   width: 40px;
}

.main-footer h3 {
   margin: 0;   
   padding-bottom: 10px;
   color: #111;
}

.icon-credits {
   font-size: .7em;
   width: 300px;
   margin: 0 auto;
}

.top {
   display: inline-block;
   margin-top: 10px;
   color: #111;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

   body {
      padding-top: 60px;
   }

   .main-nav {
    height: 60px
   } 
   
   .headline {
      font-size: 2.1em;
   }
   
   .banner {
      margin-bottom: 50px;
   }

  .container-one,
   .container-two {
		width: 90%;
		margin: 0 auto;
	}

	.main-nav,
	.col {
		float: left;
	}
   
  

	.primary {
		width: 60%;
	}
   
	.secondary {
		width: 40%;
	}
   
	.headline {
		margin-top: 80px;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
	
   .container {
       width: 80%;
       max-width: 1150px;
   }
   
   .banner {
      height: 300px;
   }
   
   .banner-caption {
      height: 300px;
   }
   
   .headline {
      margin-top: 100px;
   }
   
   .primary {
      width: 30%;
   }

   .secondary {
      width: 30%;
   }
   
   .tertiary {
      width:40%;
   }

}





