body {
   background: #d9e4ea;
   font-family: 'Varela Round', sans-serif; 
}

.carousel {
   max-width: 600px;
   margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 20px
}


.carousel-inner {
   padding: 0 20px 0px;
}

.item img{
   text-align: center;
   margin: 0 auto; 
   box-shadow: 0 0 10px #111;
   max-height: 550px;
}

.carousel-indicators {
   display: block;
   margin-bottom: 90px;
}

.carousel-indicators li{
   border: 1px solid #d9e4ea;
   box-shadow: 0 0 4px #d9e4ea;
   background: #d9e4ea;
}

 .carousel-indicators .active {
   border: 1px solid #093a58;
   box-shadow: 0 0 4px#093a58;
   background: #093a58;
}

button.goBack {
   display: block;
   width: 100px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin: 0 auto;
   outline: none;
   border: none;
   color: #093a58;
   background: none;
   cursor: pointer;
   text-transform: capitalize;
}

  
 
   